<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/navbar.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(product => { %>
                        <li>
                            <p><%= product.name %> - <%= product.price %>PLN</p>
                            <form action="/cart-delete-item" method="POST">
                                <button class="btn" type="submit">Delete</button>
                                <input type="hidden" value="<%= product.id %>" name="productId">
                            </form>
                        </li>

                    <% }) %>
                </ul>
            <% } else { %>
                <h1>No products in the cart!</h1>
            <% } %> 
        </main>


        <%- include('./includes/end.ejs') %>